<a href="https://www.kaggle.com/code/teetlhmus/pjk-10-klass-nparray-dataframe-dictionary?scriptVersionId=129072466" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [46]:
import numpy as np # helifaile (wav) käsitletakse Pyhtonis numpy array'dena
import pandas as pd # DataFrame's, csv faili sisselugemine

In [47]:
# loome järgmiste näidete uurimiseks df-nimelise dataframe'i:
df = pd.DataFrame({"Veerg1":[14, 4, 5, 4, 1, 11],
                   "Veerg2":[5, 2, 54, 3, 2, 5],
                   "Veerg3":[20, 2092, 7, 3, 8, 20]})

# {} kasutame sõnastiku-tüüpi (ingl. dictionary) objektide korral
# {veeru pealkiri: [väärtused]}

df # kuvab terve dataframe'i (suure andmekogu korral ainult esimesed ja viimased read)
# 0-s veerg on indeks, luuakse automaatselt

   Veerg1  Veerg2  Veerg3
0      14       5      20
1       4       2    2092
2       5      54       7
3       4       3       3
4       1       2       8
5      11       5      20

In [48]:
# [] kasutame DataFrame'i veergudele osutamiseks

print('Valitud veeru väärtused:')
print(df['Veerg1'])

print('-----------------------')

print('Konkreetse lahtri väärtus:')
print(df['Veerg3'][4])

Valitud veeru väärtused:
0    14
1     4
2     5
3     4
4     1
5    11
Name: Veerg1, dtype: int64
-----------------------
Konkreetse lahtri väärtus:
8

In [49]:
# () kasutame funktsioonide kasutamisel

print('Unikaalseid väärtuseid igas veerus:')
print(df.nunique())

Unikaalseid väärtuseid igas veerus:
Veerg1    5
Veerg2    4
Veerg3    5
dtype: int64

In [50]:
print('Unikaalseid väärtuseid igas reas:')
print(df.nunique(axis = 1))

Unikaalseid väärtuseid igas reas:
0    3
1    3
2    3
3    2
4    3
5    3
dtype: int64

In [51]:
# Võõrväärtuste (ingl. outlier) olemasolu kontroll:
print(df['Veerg3'].median())
print(df['Veerg3'].mean())

14.0
358.3333333333333

In [52]:
# parandame valitud lahtri väärtust
df['Veerg1'][3] = 22
df
# sõltuvalt andmete tähendusest ei saa alati sellist parandust teha 
# nt patsiendi tervisenäitajad - siis peab näidu põhjuseid uurima

   Veerg1  Veerg2  Veerg3
0      14       5      20
1       4       2    2092
2       5      54       7
3      22       3       3
4       1       2       8
5      11       5      20

In [53]:
# Võõrväärtuse (ingl. outlier) uus kontroll:
print(df['Veerg1'].median())
print(df['Veerg1'].mean())

8.0
9.5

In [54]:
# Kõikide veergude keskmine
keskm = df.mean(axis=0)
print(keskm)

Veerg1      9.500000
Veerg2     11.833333
Veerg3    358.333333
dtype: float64

KODUNE TÖÖ:

Antud on 3 veeru ja 12 reaga dataframe. Veergudeks on: nimi, kuupäev, kehatemperatuur

Arvuta keskmine temperatuur üle kõigi temperatuuri veeru väärtuste
Loo dataframe'i alusel liigendtabel, kus kuupäevad on ridadel ja nimed veergudes
Arvuta iga nime kohta: keskmine, mediaan, miinimum ja maksimum temperatuur
Joonista liigendtabeli põhjal graafik

In [55]:
import pandas as pd

tabel = pd.DataFrame({'Nimi': ['Mirjam','Luukas','Rauno','Mirjam','Luukas','Rauno','Mirjam','Luukas','Rauno','Mirjam','Luukas','Rauno','Mirjam','Luukas','Rauno'],
                      'Kuupäev': ['11.03.2023','11.03.2023','11.03.2023','12.03.2023','12.03.2023','12.03.2023','13.03.2023','13.03.2023','13.03.2023','14.03.2023','14.03.2023','14.03.2023','15.03.2023','15.03.2023','15.03.2023'],
                      'Temp': [36.4, 36.7, 36.6, 36.7, 36.8, 36.6, 37.2, 36.6, 36.4, 37.3, 36.6, 36.5, 36.9, 36.8, 36.6]})

In [56]:
print(tabel)

      Nimi     Kuupäev  Temp
0   Mirjam  11.03.2023  36.4
1   Luukas  11.03.2023  36.7
2    Rauno  11.03.2023  36.6
3   Mirjam  12.03.2023  36.7
4   Luukas  12.03.2023  36.8
5    Rauno  12.03.2023  36.6
6   Mirjam  13.03.2023  37.2
7   Luukas  13.03.2023  36.6
8    Rauno  13.03.2023  36.4
9   Mirjam  14.03.2023  37.3
10  Luukas  14.03.2023  36.6
11   Rauno  14.03.2023  36.5
12  Mirjam  15.03.2023  36.9
13  Luukas  15.03.2023  36.8
14   Rauno  15.03.2023  36.6

In [57]:
# Read mis vastavad tingimusele: True, muidu False
tabel['Nimi'] == 'Mirjam'

0      True
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8     False
9      True
10    False
11    False
12     True
13    False
14    False
Name: Nimi, dtype: bool

In [58]:
# Kuvame ainult need dataframe'i read mis vastavad seatud tingimusele
tabel[tabel['Nimi'] == 'Mirjam']

      Nimi     Kuupäev  Temp
0   Mirjam  11.03.2023  36.4
3   Mirjam  12.03.2023  36.7
6   Mirjam  13.03.2023  37.2
9   Mirjam  14.03.2023  37.3
12  Mirjam  15.03.2023  36.9

In [59]:
# Asendame dataframe'is tingimusele vastavatel ridadel ühe väärtuse teisega
tabel.loc[tabel['Nimi'] == 'Mirjam', 'Nimi'] = 'Mari'

In [60]:
print(tabel)

      Nimi     Kuupäev  Temp
0     Mari  11.03.2023  36.4
1   Luukas  11.03.2023  36.7
2    Rauno  11.03.2023  36.6
3     Mari  12.03.2023  36.7
4   Luukas  12.03.2023  36.8
5    Rauno  12.03.2023  36.6
6     Mari  13.03.2023  37.2
7   Luukas  13.03.2023  36.6
8    Rauno  13.03.2023  36.4
9     Mari  14.03.2023  37.3
10  Luukas  14.03.2023  36.6
11   Rauno  14.03.2023  36.5
12    Mari  15.03.2023  36.9
13  Luukas  15.03.2023  36.8
14   Rauno  15.03.2023  36.6

In [61]:
tabel['Temp']

0     36.4
1     36.7
2     36.6
3     36.7
4     36.8
5     36.6
6     37.2
7     36.6
8     36.4
9     37.3
10    36.6
11    36.5
12    36.9
13    36.8
14    36.6
Name: Temp, dtype: float64

In [62]:
tabel['Temp'].mean()

36.71333333333334

In [63]:
tabel_p = pd.pivot_table(tabel, values='Temp', 
                                index='Kuupäev',
                                columns='Nimi')

tabel_p

Nimi        Luukas  Mari  Rauno
Kuupäev
11.03.2023    36.7  36.4   36.6
12.03.2023    36.8  36.7   36.6
13.03.2023    36.6  37.2   36.4
14.03.2023    36.6  37.3   36.5
15.03.2023    36.8  36.9   36.6

In [64]:
print(tabel_p['Luukas'].mean(), tabel_p['Luukas'].max())
print(tabel_p['Mirjam'].mean())
print(tabel_p['Rauno'].mean())

36.7 36.8

KeyError: 'Mirjam'

In [ ]:
keskm = tabel_p.mean(axis=0)
med = tabel_p.median(axis=0)
maksim = tabel_p.max(axis=0)
minim = tabel_p.min(axis=0)
print (keskm, '\n\n', med, '\n\n', maksim, '\n\n', minim)

In [ ]:
graafik = tabel_p.plot()

In [ ]:
# Mis on NumPy array? 
# https://www.datacamp.com/tutorial/python-numpy-tutorial
# Seda kasutatakse masinõppes, masinnägemises (computer vision), heli töötluses jpm

p_list = [1, 2, 3, 4]   # Loome listi, paneme sellele nimeks p_list

n_array = np.array(p_list) # Loome 1-D numpy array, paneme nimeks n_array

# funktsioonis kasutame ümarsulge: np.array(...), print(), jne"
# andmeelemendid lisame kandiliste sulgude sees, elementidele viitame kasutades kandilisi sulge

In [ ]:
print ('list: ', p_list)
print ('np_array: ', n_array)

# tunduvad sarnased ?

# mis muutub nii listis kui array's, kui eelmises plokis teha selline muudatus: p_list = [1, 2, '3', 4] ?

In [ ]:
# list ja numpy array käituvad väga erinevalt:

print('List + List = ', p_list + p_list)
print('Array + Array = ', n_array + n_array)

print('List x 3 = ', p_list * 3)
print('Array x 3 = ', n_array * 3)

In [ ]:
genereeritud_andmed = np.random.random((3,2,4,5)) # 4-dimensionaalne andmemassiiv
genereeritud_andmed

# tõlgendame np.random.random(....) argumente paremalt vasakule:
#
# 1) 5 elementi ühes reas
# 2) 4 rida, millest igaüks koosneb 5 elemendist
# 3) 2 neljarealist plokki, kus igas reas on 5 elementi
# 4) 3 sellist plokki nagu on kirjeldatud punktis 3)
#
# jne.

In [ ]:
### Dictionary - sõnastik ###

# loogelisi sulge kasutame sõnastike korral
my_dict = {'Veerg1': [1,2,3,4], 'Veerg2': ['Saare','Hiiu','Rapla','Pärnu'], 'Veerg3': [1990,2000,2010,2020], 'Veerg4': [10,20,30,40]}
my_dict

In [ ]:
# Teisendame sõnastiku dataframe'iks
my_dataframe = pd.DataFrame(my_dict)
my_dataframe